[defaults]
inventory          = inventory.ini
remote_user        = ubuntu
private_key_file   = ~/.ssh/clouddelivery-key.pem
host_key_checking  = False
stdout_callback    = yaml
timeout            = 60
forks              = 5

[ssh_connection]
ssh_args           = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining         = True
